:root {
    --color1: #dcdba8ff;
    --color2: #40476dff;
    --color3: #483519ff;
    --color4: #98a6d4ff;
    --color5: #e8d7f1ff;
}

/* général */

* {
    box-sizing: border-box;
}

body {

    padding: 0;
    margin: 0;
    background-color: var(--color4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    margin: 5px;
}


header {
    background-color: var(--color1);
    display: flex;
    height: 60px;
    border-bottom: 3px var(--color3) solid;
}

header nav {

    width: 100%;
    font-weight: bold;

}

header ul {

    display: flex;
    justify-content: space-evenly;
    list-style: none;

    column-gap: 20px;

}

header img {

    width: 10%;
    height: 100%;

}


footer {
    border-top: 3px var(--color3) solid;
    background-color: var(--color1);
    display: flex;
    height: 60px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

footer nav {

    width: 100%;
    font-weight: bold;

}

footer ul {

    display: flex;
    justify-content: space-evenly;
    list-style: none;

    column-gap: 20px;

}

footer img {

    width: 10%;
    height: 100%;

}

table {
    border: var(--color3) 1px solid;
    margin-top: 5%;
    margin-left: 30%;
    color: var(--color1);
    background-color: var(--color2);

}

table th,
td {
    border: var(--color3) 1px solid;

}


form {

    background-color: var(--color2);
    color: var(--color1);

    padding: 10px;
    border: var(--color1) 2px solid;
    border-radius: 15px;
    width: 500px;
    margin-left: 35%;
    margin-top: 5%;

}

label {
    display: block;
    margin: 10px;
    margin-left: 0;

}

input ,textarea {
    display: block;
    color:var(--color2);
    background-color: var(--color1);
}
fieldset{
    margin: 5px;
}
/* roles.html */


#table-role th {
    font-weight: bold;
}

#table-role tr td:first-child {
    font-weight: bold;
}

/* utilisateurs.html */


/*utilisateurs-ajouter.html*/


/* profil.html */
#container {
    width: 560px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 8%;

}

#profile-pic {
    background-color: var(--color2);
    width: 120px;
    height: 110px;
    border: 3px var(--color1) solid;
    border-radius: 150px;
    align-self: flex-start;


}

#profile-pic img {
    padding: 5px;
    width: 100px;
    max-width: 100%;
    height: 100px;
}

#user-profile {

    background-color: var(--color2);
    color: var(--color1);
    padding-left: 5px;
    width: 550px;
    border: 3px var(--color1) solid;
    border-radius: 30px;
    max-width: 100%;


}